<h1>Proyectos</h1>
<table class="table table-striped">
  <thead>
    <tr><th>Nombre</th><th>Tipo</th><th>Estado</th><th></th></tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.project_type.name %></td>
        <td><%= project.status %></td>
        <td><%= link_to "Editar", edit_project_path(project), class: "btn btn-outline-secondary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>Nuevo proyecto</h2>
<ul class="list-unstyled">
  <% ProjectType.all.each do |project_type| %>
    <li><%= link_to project_type.name, new_project_path(project_type_id: project_type.id), class: "btn btn-outline-primary btn-sm mb-1" %></li>
  <% end %>
</ul>
