<h1><%= @project.name %></h1>
<p class="text-muted">Tipo: <%= @project.project_type.name %></p>

<h2>Datos</h2>
<ul class="list-group mb-4">
  <% @project.project_type.field_definitions.each do |field| %>
    <li class="list-group-item"><strong><%= field.label %>:</strong> <%= @project.custom_fields[field.key] %></li>
  <% end %>
</ul>

<% gantt_fields = @project.project_type.field_definitions.where(show_in_gantt: true).order(:position) %>
<h2>Subprocesos</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Etapa</th><th>Inicio</th><th>Fin</th><th>Responsable</th><th>% Avance</th>
      <% gantt_fields.each do |field| %>
        <th><%= field.label %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @project.project_stages.order(:id).each do |stage| %>
      <tr>
        <td><%= stage.name %></td>
        <td><%= stage.start_date %></td>
        <td><%= stage.end_date %></td>
        <td><%= stage.user&.email %></td>
        <td><%= stage.progress_percent %>%</td>
        <% gantt_fields.each do |field| %>
          <td><%= @project.custom_fields[field.key] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
